<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29481.522774005!2d88.27479182874475!3d22.534541292109942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0279c0981c0853%3A0x885502a83bd2c9bd!2sGarden%20Reach%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1632831539268!5m2!1sen!2sin"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</section>